# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Environment variables
.env

# Build directories
dist/
build/

# Temporary directories and files
tmp/
temp/
*.tmp
*.temp

# Editor directories and files
.idea/
.vscode/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Output of 'npm pack'
*.tgz

# Yarn integrity file
.yarn-integrity

# Optional: lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
